
<%- include('navbar') %>
<div class="container-fluid">
<div class="row">
  <div class="col home"></div>
</div>
<div class="row home-inferior">
<div class="col">
<h1 class="font-wizard text-center texto-blanco p-4">DISCOVER THE WIZARDING WORLD</h1>
<h3 class="font-wizard text-center texto-blanco p-4">
  Join us in Newt Scamander's adventures and his companions.
</h3>
</div>
</div>  

<div class="row home-inferior"> 
  <% result.forEach(wizard => { %>
  <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center my-5">
    <div class="card card-responsive" style="width: 20rem">
      <img
        src="/images/wizards/<%- wizard.wizard_avatar %>"
        class="card-img-top img-fluid"
        alt="..."
      />
      <div class="card-body overlay">
        <p class="font-wizard card-title"><%- wizard.wizard_name %></p>
        <div class="iconos-contenedor">
          <a href="/wizard/otherOneWizard/<%- wizard.wizard_id %>" class="btn"
            ><i class="fa-solid fa-wand-sparkles"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
 <% }) %>
</div>
</div>
<%- include('footer') %>
